@model IEnumerable<ClickApp.ViewModels.SkillViewModel>

@using ClickApp.Repositories.Interfaces;
@inject IGeneralFieldsRepository _generalFieldsRepository;

@{
    ViewData["Title"] = "Overview skills";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger m-3" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    General field
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{var generalField = _generalFieldsRepository.GetById(item.GeneralFieldId);}
                        @generalField.Name
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

