@model ClickApp.ViewModels.JournalEntryViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewData["Title"] = "Journal entry - edit";
}

<h4 class="text-center">Edit the journal entry @Model.Title from @Model.Theme</h4>

<div class="container">
    <div class="container">
        @{ var user = await _userManager.FindByIdAsync(Model.UserId);}
        <div class="row justify-content-center">
            <h5 class="font-italic" style="color: #008140">Published on @Model.DateCreated.ToString("dd/MM/yyyy") by <a asp-controller="User" asp-action="Details" asp-route-userId="@user.Id" style="color: #008140"> @user.Name @user.LastName</a></h5>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col overflow-auto border shadow">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" hidden />
                <input asp-for="UserId" class="form-control" hidden />
                <input asp-for="DateCreated" class="form-control" hidden />
                <input asp-for="Theme" class="form-control" hidden />


                <img class=" m-2 d-inline-block shadow" src="@user.ProfilePhotoURL" style="width:50px; height:50px; border-radius:50%" />
                <div class="form-group m-2 d-inline-block">
                    <input style="width:800px" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group m-2 d-inline-block">
                    <input type="checkbox" class="ml-1 d-inline-block" style="height: 15px; width: 15px; color:#C5E2EE" asp-for="@Model.Public" value="True" />
                    <label style="font-size: 15px" asp-for="@Model.Public" class="d-inline-block">Public <span class="font-weight-bold pl-2" style="color: #F79696; width:10px; font-size:25px">*</span></label>
                </div>
                <hr />
                <div class="form-group p-1 text-justify">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" cols="20" rows="15"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="background-color: #CAF7B8; color:black" />
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col text-center">
                <a class="btn btn-success m-2" asp-action="Overview" asp-route-userId="@Model.UserId" asp-route-theme="@Model.Theme" asp-route-addEntry="True" style="background-color: #CAF7B8; color:black">Back</a>
            </div>
        </div>
    </div>
</div>
<hr />





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
