@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <img class="rounded" style="height:250px" src="https://i.pinimg.com/originals/c6/9d/c1/c69dc1c46ead812bf0d11d19dfe913f4.jpg" />
    <p class="d-inline-block pl-5 border-bottom" style="font-size:80px; color:#D79E3D">Connect, Share, Support ...</p>
</div>
<div class="container-fliuid">
    <main role="main" class="pb-3">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger m-3" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-3 overflow-auto" style="height: 280px">
                    <form asp-action="Index" method="get" class="form-inline mt-1">
                        <input class="form-control d-inline-block" style="width:250px" type="search" name="userNameSearch" id="userNameSearch" placeholder="Search by name or surname" aria-label="Search by username">
                        <button class="btn btn-outline-success d-inline-block" type="submit">Search</button>
                    </form>
                    @if (Model.Count != 0)
                    {
                        foreach (var user in Model)
                        {
                            <img class="rounded-circle m-1" style="width:50px; height:50px" src="@user.ProfilePhotoURL" />
                            <a class="m-1" asp-action="Details" asp-controller="User" asp-route-userId="@user.Id">@user.Name @user.LastName</a>
                            <hr />
                        }
                    }
                </div>
                <div class="col-8 ml-1 border rounded shadow pl-1 pr-1" style="height: 280px">
                    <h2 class="text-center font-italic">...</h2>
                    <p class="text-justify font-italic">
                        This is a free service web application for people in need, whether financial or emotional, and is designed to be fast and easy to use. You won't see much complicated design and heavy graphics here.
                    </p>
                    <p class="text-justify font-italic">
                        Users can donate to others, find a cheaper way to go to work or somewhere else by being part of a carpool group, or find a cheaper or free service by other kind and understanding users.
                        People can communicate through this application as well, and as we all know, sometimes even just meeting someone new trough similar interests, needs or area can be quite rewarding to our well-being and emotional state. This also is the reason for us to offer an option for our users to keep an online journal as well, which the user can choose whether the journal is to be private or public.
                        When writing or communicating through this site, please be polite and considerate. Abuse will not be tolerated.
                    </p>
                    <p class="text-justify font-italic">
                        We try to have this site as secure as possible, and if you discover any problems, please contact us.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" style="height:150px">
            
        </div>
        <div class="container-fluid p-2">
            <div class="row">
                <div class="col-md-9 pt-5">
                    <img class="rounded shadow ml-3" src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half-caption/public/field_blog_entry_images/2020-04/credit-areebarbar-adobestock_232296142.jpg?itok=572ob5LS" />
                    <h3 class="font-italic d-inline-block" style="margin-left: -100px; margin-top:-200px">Journaling for Mental Health</h3>
                    <div class="d-inline-block m-5" style="height: 120px">
                        <p class="border border-success font-weight-bolder rounded-circle text-center shadow p-3 text-center d-inline-flex d-inline-block align-bottom" style="height:80px;width:80px; font-size:13px; margin-bottom: 0px; background-color: #CAF7B8">•Manage anxiety</p>
                        <p class="border border-warning font-weight-bolder rounded-circle text-center shadow p-3 text-center d-inline-flex d-inline-block align-items-center" style="height:80px;width:80px; font-size:13px; margin-bottom: 45%; background-color: #F7F57B">•Reduce stress</p>
                        <p class="border border-primary font-weight-bolder rounded-circle text-center shadow p-2 text-center d-inline-flex d-inline-block align-bottom" style="height:80px;width:80px; font-size:13px; margin-bottom: 0px; background-color: #C5E2EE">•Cope with depression</p>
                    </div>
                    <p class="rounded-circle shadow p-5 text-center" style="height:250px">One of the ways to deal with any overwhelming emotion is to find a healthy way to express yourself. This makes a journal a helpful tool in managing your mental health. Journaling It's simply writing down your thoughts and feelings to understand them more clearly. If you struggle with stress, depression, or anxiety, keeping a journal can be a great idea. It can help you gain control of your emotions and improve your mental health. Journaling helps control your symptoms and improve your mood by helping you prioritize problems, fears, and concerns; by tracking any symptoms day-to-day so that you can recognize triggers and learn ways to better control them; by providing an opportunity for positive self-talk and identifying negative thoughts and behaviors.</p>
                </div>
                <div class="col-md-3" style="margin-top: -200px; margin-left: -100px">
                    <img class="rounded-circle shadow" src="https://caate.net/wp-content/uploads/2017/06/Submit.jpg" />
                    <div class="border rounded shadow bg-light" style="height:350px; width:80%; margin-left: 100px; margin-top:120px">
                        <p class="font-weight-bold font-italic text-center text-success">Latest public journal entries:</p>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="container" style="height:150px"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h2 class="text-dark text-center">Carpooling Benefits the Society, Employers and Individuals!!!</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row p-2">
                <div class="col-5 shadow rounded" style="background-color: #C5E2EE">
                    <h5 class=" align-self-center text-dark text-center" style="height: 5px">CARPOOLING IMPACTS AND MOTIVATORS</h5>
                </div>
                <div class="col-2">

                </div>
                <div class="col-5 shadow rounded" style="background-color: #EAC58F">
                    <h5 class="text-dark text-center">INNOVATIONS AND TRENDS IN MOBILITY</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row p-2">
                <div class="col-5 shadow rounded" style="height:435px">
                    <br />
                    <h5 class="text-dark text-center">SOCIAL BENEFITS</h5>
                    <p class="text-dark" style="height: 5px">Reductions in energy consumption</p>
                    <p class="text-dark" style="height: 5px">Reductions in emissions</p>
                    <p class="text-dark" style="height: 5px">Reductions in traffic</p>
                    <br />
                    <h5 class="text-dark text-center">INDIVIDUAL BENEFITS</h5>
                    <p class="text-dark" style="height: 5px">Shared travel costs</p>
                    <p class="text-dark" style="height: 5px">Rreduced commute stress</p>
                    <p class="text-dark" style="height: 5px">Read, listen to music, or relax when you're not driving</p>
                    <br />
                    <h5 class="text-dark text-center">EMPLOYER BENEFITS</h5>
                    <p class="text-dark text-justify" style="height: 5px">Carpooling has been used as a strategy by numerous public agencies and employers as a strategy to address a range of climate, environmental, and congestion mitigation goals, while simultaneously increasing roadway and parking capacity.</p>
                </div>
                <div class="col-2">

                </div>
                <div class="col-5 shadow rounded">
                    <p class="text-dark text-justify mt-4" style="height: 100px">In recent years, economic, environmental, and social forces coupled with technological innovations are encouraging shared and pooled services. Shared mobility is changing how people travel and is having a transformative impact on mobility.</p>
                    <br />
                    <p class="text-dark" style="height: 80px">The  different  carpooling  solutions  can represent  the  potential  to  make  a  valuable  contribution  to making  urban  mobility  more  sustainable  and  support  a  new culture of car use.</p>
                    <p class="text-dark" style="height: 55px">It’s clear that carpooling is here to  stay and is  making  an  impact  on  the  transportation  industry.</p>
                    <p class="text-dark" style="height: 40px">It  is important for entrepreneurs to continue pushing the boundaries in creating new solutions to shape the future of transportation.</p>
                </div>
            </div>
        </div>
        <div class="container-fliuid" style="height:100px">

        </div>

        <div class="container shadow" style="background-color: #F7E7DB">
            <div class="row p-1 m-1 justify-content-center">
                <div class="col text-center">
                    <h2 style="color: #E68AA1">Offer your time and services to help others!</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col border d-inline border-success shadow m-2 p-1" style="background-color: #CAF7B8">
                    <h5 class="text-center">Offer Kindness Proactively</h5>
                    <p class="text-justify">Pay attention to the people around you and what you can do to make their lives a little easier. An act of kindness, any simple gesture can improve someone's day. Let a car in front of you on the highway. Hold the door or elevator, and call a friend to see how they're doing. Check in on an elderly neighbor or bring dinner to someone who has been facing illness or a tough time. Being friendly and thoughtful can make a huge difference, and maintaining good relationships is actually good for your heart.</p>
                </div>
                <div class="col border d-inline border-warning  shadow m-2 p-1" style="background-color:#F7F57B; height:440px">
                    <h5 class="text-center">Volunteer Your Time</h5>
                    <p class="text-justify">Community service is one of the best ways to improve the lives of others. Donating your time allows you to connect with your community and make it a better place. Volunteer work is also flexible: You can participate as much as your schedule allows, and you can choose opportunities that fit your interests and hobbies. The possibilities are endless.</p>
                </div>
                <div class="col border d-inline border-danger shadow m-2 p-1" style="background-color: #F79696">
                    <h5 class="text-center">Donate to a Cause</h5>
                    <p class="text-justify">Few things are as easy or provide as much instant gratification as donating money to people in need. Recent research suggests that giving to charity may actually make the giver happier and healthier. There are many ways to donate money to charities online or in your local community. Another resolution-worthy way to donate? Ask people to support a certain charity in lieu of giving you a birthday or Christmas gift.</p>
                </div>
                <div class="col border d-inline border-primary shadow m-2 p-1" style="background-color: #C5E2EE">
                    <h5 class="text-center">Donate Unused Items</h5>
                    <p class="text-justify">The new year is a good time to organize and clear out your clutter. Rather than tossing out stuff you no longer need, donate it to someone who does. Free your home of unworn clothes and unused furniture. Your community likely has a Goodwill or Salvation Army that will accept your donations. Homeless shelters and food banks are happy to take unexpired canned goods off your hands, too.</p>
                </div>
                <div class="col border d-inline border-secondary shadow m-2 p-1" style="background-color:#D9D9DB">
                    <h5 class="text-center">Say "Thank You"</h5>
                    <p class="text-justify">Make an effort to say "thank you" to every person who plays a part in your life, no matter how big or small. Expressing gratitude for another person's actions shows that you notice them. Send a quick note telling someone how much you appreciate them, how proud of them you are, or just to say thank you for something they did. You can also help others feel better about themselves by showing your appreciation publicly. Praising another in front of family or coworkers can have an impact that lasts beyond the moment itself/p>
                </div>
            </div>
        </div>

        <div class="container-fliuid" style="height:100px">

        </div>


        @*<div class="container-fliuid" style="background-color: #CAF7B8">
            <div class="row p-1 m-1 justify-content-center">
                <div class="col text-center">
                    <h2>Donate</h2>
                </div>
            </div>
        </div>*@
    </main>
    
</div>
<div class="container-fliuid" style="height:150px">

</div>
<footer class="border-top footer text-muted">
    <div class="container m-2">
        <div class="row d-inline-block">
            <div class="col align-items-center">
                <h5>@ViewBag.SubscriptionMessage</h5>
                <fieldset class="border rounded p-2 m-2">
                    <legend style="color: rgb(236,128,50)">Subscribe</legend>
                    <h6 style="color: rgb(65,41,46)">Enter your email if you like to subscribe and receive our latest offers:</h6>
                    <form class="p-2" asp-controller="Subscription" asp-action="CreateSubscription" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" onsubmit="return validateForm()">
                        <div class="form-group">
                            <input type="email" name="SubscriberEmail" id="SubscriberEmail" class="form-control" required placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Subscribe" class="btn btn-success" style="background-color: #CAF7B8; color: black" />
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</footer>