@model ClickApp.ViewModels.CarpoolDetailsViewModel

@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Carpool offer - Details";
}

@section Styles{
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}


<div>
    <h4>Carpool Offer with ID @Model.CarpoolOffer.Id</h4>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger m-3" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success m-3" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }
    <div>
        <a class="btn btn-success" asp-action="Overview">Back to Carpool offers</a>
    </div>
    <hr />
    <div class="card offerCard m-2" style="width: 80%;">
        <div class="row justify-content-end m-2 p-1">
            <div class="col-7">
            </div>
            <div class="col-5">
                <a class="text-success p-2 rounded bg-light text-center" asp-action="Edit" asp-route-id="@Model.CarpoolOffer.Id">Edit | </a>
                <a class="text-success p-2 rounded bg-light text-center" asp-action="Delete" asp-route-id="@Model.CarpoolOffer.Id">Delete</a>
            </div>
        </div>
        <div class="row no-gutters align-items-center">
            <div class="col-sm-12">
                <div class="card-body">
                    <h4 class="text-center">From @Model.CarpoolOffer.LeavingFrom to @Model.CarpoolOffer.ArrivingAt at @Model.CarpoolOffer.LeavingHour:@Model.CarpoolOffer.LeavingMinutes</h4>
                    <hr />
                    <div class=" row align-items-center justify-content-between">
                        <div class="col-sm-5">
                            <h6 class="text-success bg-light rounded p-2">Available seats @Model.CarpoolOffer.SeatsAvailable</h6>
                        </div>
                    </div>
                    <hr />
                    @if (@Model.CarpoolOffer.LeavingNote != null || @Model.CarpoolOffer.LeavingNote != "")
                    {
                        <span class="text-justify font-italic">* @Model.CarpoolOffer.LeavingNote</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-5 p-2">
    <div>
        <dl class="row justify-content-center">
            <div class="col-5">
                @if (Model.AcceptedPassengers.Count != 0)
                {
                    var user = await _userManager.FindByNameAsync(User.Identity.Name);

                    <h4>Confirmed passengers</h4>
                    @foreach (var item in Model.AcceptedPassengers)
                    {
                        <div class="border p-1 m-2 shadow d-inline-block" style="width: 300px">
                            <p class="rounded font-weight-bolder border-danger d-inline p-1" style="width:15px; border:double">@item.Seats</p>
                            <img class="rounded-circle m-1" style="width:50px; height:50px" src="@item.Passenger.ProfilePhotoURL" />
                            <a class="m-1 font-weight-bold" asp-action="Details" asp-controller="User" asp-route-userId="@item.Passenger.Id">@item.Passenger.Name @item.Passenger.LastName</a>
                        </div>
                        <a asp-controller="CarpoolPassengerAcceptances" asp-action="CancelAcceptance" asp-route-userId="@user.Id" asp-route-carpoolOfferId="@Model.CarpoolOffer.Id" asp-route-passengerId="@item.Passenger.Id" class="border-0 d-inline pb-2" style="font-size: 20px; color: crimson; background: none">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    }
                }
                else
                {
                    <div class="border p-1 m-2 shadow d-inline-block" style="width: 300px">
                        <p class="m-1 font-italic">You have no confirmed passengers at this moment.</p>
                    </div>
                }
            </div>

            @if (Model.RequestingPassengers.Count != 0)
            {
                var user = await _userManager.FindByNameAsync(User.Identity.Name);
                <div class="col-5 border-left pl-2">
                    <h4>Passenger requests</h4>
                    @foreach (var item in Model.RequestingPassengers)
                    {
                        <div class="border p-1 m-2 shadow d-inline-block" style="width: 300px">
                            <p class="rounded font-weight-bolder border-success d-inline p-1" style="width:15px; border:double">@item.Seats</p>
                            <img class="rounded-circle m-1" style="width:50px; height:50px" src="@item.Passenger.ProfilePhotoURL" />
                            <a class="m-1 font-weight-bold" asp-action="Details" asp-controller="User" asp-route-userId="@item.Passenger.Id">@item.Passenger.Name @item.Passenger.LastName</a>
                        </div>
                        <a asp-controller="CarpoolPassengerAcceptances" asp-action="CreatePassengerAcceptance" asp-route-userId="@user.Id" asp-route-carpoolOfferId="@Model.CarpoolOffer.Id" asp-route-passengerId="@item.Passenger.Id" class="border-0 d-inline pb-2" style="font-size: 20px; color: forestgreen; background: none">
                            <i class="far fa-check-circle"></i>
                        </a>
                        <a asp-controller="CarpoolPassengerRequests" asp-action="CancelRequest" asp-route-userId="@user.Id" asp-route-carpoolOfferId="@Model.CarpoolOffer.Id" asp-route-passengerId="@item.Passenger.Id" class="border-0 d-inline pb-2" style="font-size: 20px; color: crimson; background: none">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    }
                </div>
            }
            else
            {
                <div class="border p-1 m-2 shadow d-inline-block" style="width: 300px">
                    <p class="m-1 font-italic">You have no requesting passengers at this moment.</p>
                </div>
            }

        </dl>
    </div>
</div>

